<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Relatório do Serviço</title>

<!-- Incluindo o Bootstrap CSS -->
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>

<!-- Incluindo o Chart.js para gráficos -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
  body {
    margin: 30px;
  }
  h1,
  h3 {
    color: #333;
  }
  .chart-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 40px;
  }
  table th,
  table td {
    vertical-align: middle;
  }
</style>
